<html> 
<head>

	<script>
	
		function Cancel(){
			//window.location.href = "/new";
			window.location.href = "/";
		}

	</script>

</head>
<body>
	<h1><%= title %></h1>

	<a href="/">Back</a> 
	<br><br>

	<form action="/save" method="post">
		
		<table>
			<tr>
				<td>
					Name
				</td>
				<td>
					<input type="text" name="txtName" placeholder="Enter Name!" style="height:30px;" required="required">
				</td>
			</tr>
			<tr>
				<td>
					Phone &nbsp;&nbsp;
				</td>
				<td>
					<input type="text" name="txtPhone" placeholder="Enter Phone!" style="height:30px;" required="required">
				</td>
			</tr>
			<tr>
				<td>

				</td>
				<td>
					<input type="submit" value="Save">
					<input type="button" value="Cancel" id="btnCancel" onclick="Cancel()">
				</td>
			</tr>
		</table>

	</form>

</body>
</html>
